body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: linear-gradient(to bottom,rgba(245, 246, 252, 0.52), rgba(117, 19, 93, 0.5)),url("images/birthday.webp");
    margin: auto;
    text-align: center;
    background-repeat: no-repeat;
    background-size: 100% 110%;
<<<<<<< HEAD
    background-attachment: fixed;
=======
    background-attachment: fixed; 
>>>>>>> d895a5cfb7d090f5d001c2b2ad412f8448e3f2ee
}
.container{
    display: flex;
    flex-direction: column;
    margin: auto;
    text-align: center;
    width: 40%;
}
input{
    width: 40%;
    margin: auto;
<<<<<<< HEAD
    height: 2rem;
    border: 2px solid #F43B86;
    border-radius: 5px;
}
#show-btn{
    color: white;
    font-weight: 600;
    margin: auto;
    margin-top: 10px;
    padding: 10px 25px;
    border: none;
    border-radius: 2px;
    background-color: #F43B86;
=======
}
#show-btn{
    margin: auto;
    margin-top: 10px;
    width: 80px;
    height: 30px;
    background-color: #F6A9A9;
>>>>>>> d895a5cfb7d090f5d001c2b2ad412f8448e3f2ee
    cursor: pointer;
}
#show-btn:hover{
    background-color: #F43B86;
}
h1{
    color: #F43B86;
}

/* #result{
    width: 450px;
    border: 1px solid #FDF5CA;
    margin: auto;
    margin-top: 10px; 
    padding: 30px;
    background: linear-gradient(to right, #F6A9A9, #FFBF86, #FFF47D, #C2F784);
    border-radius: 5px;
} */

@media screen and (max-width: 768px){
    .container{
<<<<<<< HEAD
        width: 90%;
        margin-top: 10%;
   }
}
=======
        display: flex;
        flex-direction: column;
        width: 90%;
        margin-top: 10%;
   }
}
>>>>>>> d895a5cfb7d090f5d001c2b2ad412f8448e3f2ee
